<div style="margin-top: 200px;">
    <div class="d-flex justify-content-center">
      <a href="https://www.facebook.com/">
          <img id="logo1" width="40" height="40" src="./assets/logo_fb.png">
      </a>
      <a href="https://www.whatsapp.com/">
          <img id="logo2" width="40" height="40" src="./assets/logo_wapp.png">
      </a>
      <a href="https://www.instagram.com/">
          <img id="logo3" width="40" height="40" src="./assets/logo_ig.png">
      </a>
    </div>
    <p class="lead" style="text-align: center;">Veterinaria Cuki - Luis Agote 250 B° Mirador</p>
    <p class="lead" style="text-align: center;">Hecho con <span class="mark">Bootstrap</span> por <a href="#">@clongoni</a></p>
</div>