<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand" href="index.html">
                    <img src="./assets/logo.png" style="width:40px;"> 
                </a> 
            </li>
            <li>
                <a class="navbar-brand" href="index.html">Veterinaria Cuki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./nosotros/nosotros.component.html">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="servicios.html">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
                <button type="button" class="btn btn-info" onclick="funcionSuscripcion()">Suscripcion</button>
        </ul>
    </div>
  </nav> 