<div>
    <table>
        <tr>
            <td style="width:25%"></td>
            <td style="width:50%">
                <h1 style="text-align: center; color: white;">Tu veterinaria de confianza</h1>
                <p style="text-align: center; color: white;">En la Veterinaria Cuki contamos con un equipo de trabajo altamente idóneo
                para atender a nuestros mejores amigos. Conjugamos las mejores instalaciones
                para la atención y el cuidado de sus mascotas, con los profesionales más
                capacitados en la asistencia veterinaria. La salud de nuestras mascotas es tan
                importante como la de cualquier integrante de la familia.:</p>
                <p class="lead" style="text-align: center; color: white;">Atención las 24 hs., los 365 días del año</p>
            </td>
            <td style="width:25%"></td>
        </tr>
    </table>
    <div style="text-align: center;">
      <button type="button" class="btn btn-secondary" (click)="onClickContacto()">Conocenos</button>
      <!--  HJM Agregue en (click) la llamda a un metodo que esta declarado en el componente, dentro del construcor    -->
    </div>
  </div>
